@use './colors';
@use './fonts';

// Social Media Card
.card {
  overflow: hidden;
  background-color: colors.$light-grayish-blue;
  border-radius: 8px;
  text-align: center;

  &::before {
    content: "";
    height: 4px;
    display: block;
    background: colors.$facebook-color;
  }

  // HEAD
  &__header {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon-media {
    margin-right: 6px;
  }

  &__title {
    color: colors.$dark-grayish-blue;
    font-size: 0.9em;
  }
  // MAIN
  &__main {
    padding-bottom: 10px;
  }

  &__number-total {
    color: colors.$dark-blue;
    font-size: 2.5em;
    font-weight: 700;
  }

  &__description {
    color: colors.$dark-grayish-blue;
    font-size: 0.8em;
    font-weight: 500;
    display: block;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  // FOOTER
  &__footer {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon-direction {
    margin-right: 6px;
  }

  &__number-today {
    color: colors.$lime-green;
    font-size: 0.7em;
  }
}
