//Colores primarios
$lime-green: #1db489;
$bright-red: #dc414c;
$facebook-color: #178ff2;
$twitter-color: #1da1f2;
$instagram-color-orange: #fdc468;
$instagram-color-purple: #df4996;
$youtube-color: #c4032a;

// Colores tema claro
$pale-blue: #f5f7ff;
$light-grayish-blue: #f0f2fa;
$dark-grayish-blue: #63687e;
$dark-blue: #1e202a;
