* {
  margin: 0;
  padding: 0;
  // box-sizing: content-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

%config-wrapper {
  padding: 0px 30px;
}

%section-grid {
  padding: 0px 30px;
  margin: 30px 0px;
  display: grid;
  grid-row-gap: 25px;
}

@mixin section-grid($frs) {
  display: grid;
  padding: 0px 30px;
  grid-template-columns: $frs;
  row-gap: 25px;
  column-gap: 25px;
}
