// Colores primarios
$lime-green: #1db489;
$bright-red: #dc414c;
$facebook-color: #178ff2;
$twitter-color: #1da1f2;
$instagram-color-orange: #fdc468;
$instagram-color-purple: #df4996;
$youtube-color: #c4032a;

// Colores tema claro
$pale-blue: #f5f7ff;
$light-grayish-blue: #f0f2fa;
$dark-grayish-blue: #63687e;
$dark-blue: #1e202a;

body {
  margin: 0;
}

.wrapper {
  padding: 0px 30px;
}

.card {
  overflow: hidden;
  background-color: $pale-blue;
  border-radius: 5px;
  text-align: center;
}

.card--title {
  color: $dark-blue;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card--title img {
  margin-right: 6px;
}

.card::before {
  content: "";
  height: 4px;
  display: block;
  background: $facebook-color;
}

.card--followers--number {
  color: $dark-blue;
  font-size: 2.5em;
  font-weight: 700;
}

.card--followers--title {
  color: $dark-grayish-blue;
  font-size: 0.8em;
  display: block;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.card--today {
  color: $lime-green;
  font-size: 0.7em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card--today img {
  margin-right: 4px;
}
