{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>Social Medial Project</title>
  </head>
  <body>
    <header class="header">
      <h1 class="header__title">Social Media Dashboard</h1>
      <p class="header__subtitle">Total Followers: 23,004</p>
      <p class="header__text-switcher">Dark Mode</p>
    </header>
    <section class="top-cards">
      <article class="card card__facebook">
        <header class="card__header">
          <img
            class="card__icon-media"
            src="{% static 'img/icon-facebook.svg' %}"
            alt="imagen facebook"
          />
          <p class="card__title">
            @sebastian
          </p>
        </header>
        <main class="card__main">
          <span class="card__number-total">1987</span>
          <span class="card__description">Followers</span>
        </main>
        <footer class="card__footer">
          <img
            class="card__icon-direction"
            src="{% static 'img/icon-up.svg' %}"
            alt="icon-up"
          />
          <p class="card__number-today card__number-today__green">12 Today</p>
        </footer>
      </article>
      <article class="card card__twitter">
        <header class="card__header">
          <img
            class="card__icon-media"
            src="{% static 'img/icon-twitter.svg' %}"
            alt="imagen twitter"
          />
          <p class="card__title">
            @sebastian
          </p>
        </header>
        <main class="card__main">
          <span class="card__number-total">1044</span>
          <span class="card__description">Followers</span>
        </main>
        <footer class="card__footer">
          <img
            class="card__icon-direction"
            src="{% static 'img/icon-up.svg' %}"
            alt="icon-up"
          />
          <p class="card__number-today card__number-today__green">99 Today</p>
        </footer>
      </article>
      <article class="card card__instagram">
        <header class="card__header">
          <img
            class="card__icon-media"
            src="{% static 'img/icon-instagram.svg' %}"
            alt="imagen instagram"
          />
          <p class="card__title">
            @sebastian
          </p>
        </header>
        <main class="card__main">
          <span class="card__number-total">11k</span>
          <span class="card__description">Followers</span>
        </main>
        <footer class="card__footer">
          <img
            class="card__icon-direction"
            src="{% static 'img/icon-up.svg' %}"
            alt="icon-up"
          />
          <p class="card__number-today card__number-today__green">
            1099 Today
          </p>
        </footer>
      </article>
      <article class="card card__youtube">
        <header class="card__header">
          <img
            class="card__icon-media"
            src="{% static 'img/icon-youtube.svg' %}"
            alt="imagen youtube"
          />
          <p class="card__title">
            @sebastian
          </p>
        </header>
        <main class="card__main">
          <span class="card__number-total">8239</span>
          <span class="card__description">Followers</span>
        </main>
        <footer class="card__footer">
          <img
            class="card__icon-direction"
            src="{% static 'img/icon-down.svg' %}"
            alt="icon-down"
          />
          <p class="card__number-today card__number-today__red">144 Today</p>
        </footer>
      </article>
    </section>
    <section class="cards-low">
      <h1 class="cards-low__title">Overview - Today</h1>
      <article class="card-overview">
        <p class="card-overview__text-views">Pages Views</p>
        <p class="card-overview__icon-media">
          <img src="{% static 'img/icon-facebook.svg' %}" alt="" />
        </p>
        <p class="card-overview__number-views">87</p>
        <p
          class="card-overview__percentage-views card-overview__percentage-views_green"
        >
          <span>
            <img src="{% static 'img/icon-up.svg' %}" alt="arrow up" />
            3%
          </span>
        </p>
      </article>
      <article class="card-overview">
        <p class="card-overview__text-views">Pages Views</p>
        <p class="card-overview__icon-media">
          <img src="{% static 'img/icon-facebook.svg' %}" alt="" />
        </p>
        <p class="card-overview__number-views">52</p>
        <p
          class="card-overview__percentage-views card-overview__percentage-views_red"
        >
          <span>
            <img src="{% static 'img/icon-down.svg' %}" alt="arrow down" />
            2%
          </span>
        </p>
      </article>
      <article class="card-overview">
        <p class="card-overview__text-views">Pages Views</p>
        <p class="card-overview__icon-media">
          <img src="{% static 'img/icon-twitter.svg' %}" alt="" />
        </p>
        <p class="card-overview__number-views">5462</p>
        <p
          class="card-overview__percentage-views card-overview__percentage-views_green"
        >
          <span>
            <img src="{% static 'img/icon-up.svg' %}" alt="arrow up" />
            2257%
          </span>
        </p>
      </article>
      <article class="card-overview">
        <p class="card-overview__text-views">Pages Views</p>
        <p class="card-overview__icon-media">
          <img src="{% static 'img/icon-twitter.svg' %}" alt="" />
        </p>
        <p class="card-overview__number-views">52k</p>
        <p
          class="card-overview__percentage-views card-overview__percentage-views_green"
        >
          <span>
            <img src="{% static 'img/icon-up.svg' %}" alt="arrow up" />
            1375%
          </span>
        </p>
      </article>
      <article class="card-overview">
        <p class="card-overview__text-views">Pages Views</p>
        <p class="card-overview__icon-media">
          <img src="{% static 'img/icon-instagram.svg' %}" alt="" />
        </p>
        <p class="card-overview__number-views">117</p>
        <p
          class="card-overview__percentage-views card-overview__percentage-views_green"
        >
          <span>
            <img src="{% static 'img/icon-up.svg' %}" alt="arrow up" />
            303%
          </span>
        </p>
      </article>
      <article class="card-overview">
        <p class="card-overview__text-views">Pages Views</p>
        <p class="card-overview__icon-media">
          <img src="{% static 'img/icon-instagram.svg' %}" alt="" />
        </p>
        <p class="card-overview__number-views">507</p>
        <p
          class="card-overview__percentage-views card-overview__percentage-views_green"
        >
          <span>
            <img src="{% static 'img/icon-up.svg' %}" alt="arrow up" />
            507%
          </span>
        </p>
      </article>
      <article class="card-overview">
        <p class="card-overview__text-views">Pages Views</p>
        <p class="card-overview__icon-media">
          <img src="{% static 'img/icon-youtube.svg' %}" alt="" />
        </p>
        <p class="card-overview__number-views">107</p>
        <p
          class="card-overview__percentage-views card-overview__percentage-views_red"
        >
          <span>
            <img src="{% static 'img/icon-down.svg' %}" alt="arrow down" />
            107%
          </span>
        </p>
      </article>
      <article class="card-overview">
        <p class="card-overview__text-views">Pages Views</p>
        <p class="card-overview__icon-media">
          <img src="{% static 'img/icon-youtube.svg' %}" alt="" />
        </p>
        <p class="card-overview__number-views">1407</p>
        <p
          class="card-overview__percentage-views card-overview__percentage-views_red"
        >
          <span>
            <img src="{% static 'img/icon-down.svg' %}" alt="arrow down" />
            1407%
          </span>
        </p>
      </article>
    </section>
  </body>
</html>
