{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>Social Medial Project</title>
  </head>
  <body>
    <div class="wrapper">
      <h1></h1>
      <p></p>
    </div>
    <section>
      <div class="wrapper">
        <article class="card">
          <header class="card__header">
            <img
              class="card__icon-media"
              src="{% static 'img/icon-facebook.svg' %}"
              alt="imagen facebook"
            />
            <p class="card__title">
              @stoicstian
            </p>
          </header>
          <main class="card__main">
            <span class="card__number-total">1987</span>
            <span class="card__description">Followers</span>
          </main>
          <footer class="card__footer">
            <img
              class="card__icon-direction"
              src="{% static 'img/icon-up.svg' %}"
              alt="icon-up"
            />
            <p class="card__number-today">12 Today</p>
          </footer>
        </article>
      </div>
    </section>
  </body>
</html>
